<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OmGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OmGui.Properties.Settings>
            <setting name="DefaultWorkingFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="CurrentWorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentPluginFolder" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="CurrentProfileDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Operator" serializeAs="String">
                <value />
            </setting>
        </OmGui.Properties.Settings>
    </userSettings>
</configuration>